Package: com.whomer.AppStoreUpdateSize
Name: AppStore Update Size
Depends: mobilesubstrate
Version: 1.3
Architecture: iphoneos-arm
Description: Show the size of updates on the App Store.
Maintainer: Will Homer
Author: Will Homer
Section: Tweaks
